.widget {
  position: relative;
  width: 500px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow: hidden;
}

.widget-header {
  top: 0px;
  width: 500px;
  height: 50px;
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-align: right;
  padding-top: 15px;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 17px;
  background: #777
    linear-gradient(
      0deg,
      rgba(10, 10, 10, 0.2) 0%,
      rgba(4, 4, 4, 0) 30%,
      rgba(4, 4, 4, 0) 100%
    );
}

.rates-source-logo {
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4));
  position: absolute;
  top: 10px;
  left: 12px;
}

.rate {
  margin-right: 15px;
}

.usd-rate-title {
  color: rgb(132, 189, 51);
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.eur-rate-title {
  color: rgb(165, 180, 216);
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.rate-value {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.widget-content {
  top: 50px;
  width: 500px;
  height: 100px;
  position: absolute;
  background-color: #ddd;
  box-shadow: 0px 7px 15px rgb(0 0 0 / 10%) inset;
  overflow: hidden;
}

.country-flag-left {
  position: absolute;
  top: 500px;
  left: -100px;
  opacity: 0.25;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(4, 4, 4, 0) 100%
  );
  transition: top 0.5s ease;
}

.country-flag-right {
  position: absolute;
  top: 500px;
  transform: rotateY(180deg);
  left: 280px;
  opacity: 0.25;
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(4, 4, 4, 0) 100%
  );
  transition: top 0.5s ease;
}

.UAH {
  top: -572px;
}

.USD {
  top: -104px;
}

.EUR {
  top: -336px;
}

.RUR {
  top: -813px;
}

.active-input {
  background-color: #fff;
}

.fields {
  position: absolute;
  padding-top: 23px;
}

.field-1 {
  height: 34px;
  width: 170px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: none;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(51, 67, 64);
  margin-right: 10px;
  margin-top: 6px;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.8);
}

.field-2 {
  height: 34px;
  width: 170px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(51, 67, 64);
  margin-left: 20px;
  margin-top: 6px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
}

.list-1 {
  position: relative;
  height: 38px;
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left: 10px;
  top: -6.5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.list-2 {
  position: relative;
  height: 38px;
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: none;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-right: 10px;
  top: -6.5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.field-bg {
  position: absolute;
  top: 23px;
}

.field-bg-1 {
  transform: rotate(0deg);
  left: 0px;
}
.field-bg-2 {
  transform: rotate(180deg);
  left: 250px;
}

.widget-footer {
  top: 150px;
  width: 500px;
  height: 50px;
  position: absolute;
  background-color: #fff;
}

.footer-content {
  margin: 15px 15px;
  line-height: 12px;
  font-size: 10px;
  text-align: right;
  color: #777;
}
