.widget {
  position: relative !important;
  width: 500px;
  height: 550px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow: hidden;
}

.widget::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/bg.png);
  background-size: cover;
  filter: contrast(75%);
  opacity: 0.5;
}

.widget-header {
  top: 0px;
  width: 500px;
  height: 50px;
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-align: left;
  font-weight: normal;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.5)
    linear-gradient(0deg, rgba(10, 10, 10, 0.2) 0%, rgba(4, 4, 4, 0) 100%);
  line-height: 45px;
  text-indent: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.widget-content {
  top: 50px;
  width: 500px;
  height: 450px;
  position: absolute;
  box-shadow: 0px 7px 15px rgb(0 0 0 / 10%) inset;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1)
    linear-gradient(
      180deg,
      rgba(10, 10, 10, 0.3) 0%,
      rgba(4, 4, 4, 0.05) 30%,
      rgba(4, 4, 4, 0) 100%
    );
}

.bar-chart-labels {
  position: absolute;
  left: 30px;
  width: 200px;
  height: 400px;
}

.pie-chart-labels {
  position: absolute;
  width: 200px;
  height: 200px;
}

.caption {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  text-align: center;
  position: relative;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px black, -1px -1px 4px rgba(0, 0, 0, 0.1) inset;
  margin: 2px;
  line-height: 18px;
  background-color: white;
}

.count {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  text-align: center;
  position: absolute;
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  margin: 2px;
  line-height: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
}

.d3Element {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 200px;
}

.barChart,
.pieChart {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
  position: absolute;
}

.widget-footer {
  top: 500px;
  width: 500px;
  height: 50px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}

.widget-input {
  position: absolute;
  top: 10px;
  height: 20px;
  font-size: 16px;
  width: 250px;
  text-align: center;
  left: calc(50% - 125px);
  border-radius: 5px;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
